extends layout

block body_content

	.main_dialog.col-lg-9.col-sm-9
		.dialog_text
			#content
			#next.fa.fa-chevron-down.right

	.main_dialog.col-lg-9.col-sm-9
		.dialog_option
			#option 


	img(src='/images/foreground.png')

	.progress.col-lg-12.col-sm-12

block body_script
	script.
		var step = 0;
		var dialog = [
			"xxx",
			"yyy",
			"zzz"
		];

		console.log(dialog);

		function showDialog(step) {
			$('#content').html(dialog[step]);
		}

		$(function() {
			showDialog(step);
		}); 

		$("#next").click(function(e) {
			step += 1;
			showDialog(step);
			e.preventDefault();
		});