extends layout

block body_content

	.main_dialog.col-lg-9.col-sm-9
		.dialog_text
			#content

	.main_dialog.col-lg-9.col-sm-9
		.dialog_option
			#option 


	img(src='/images/foreground.png')

	.progress.col-lg-12.col-sm-12

block body_script
	script.
		var dialog = [
			"xxx",
			""
		];

		console.log(dialog);

		function showDialog() {
			$('#content').html(dialog[0]);
		}

		$(function() {
			showDialog();
		}); 
